<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基础</title>
    <script src="js/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="js/basis.js"></script>
</head>
<body>
    <div id="helloVue">
        <div>{{ message }}</div>
        <div>counter:{{ count }}</div>
        <div v-bind:title="hoverMessage">鼠标悬停</div>
        <div v-on:click="reverseMessage">click</div>
        <input type="text" v-model="message">
        <div>
            <span v-if="seen">显示</span>
        </div>
        <ol>
            <li v-for="todo in todos" x-bind="todo.text"></li>
        </ol>
        <ol>
            <todo-item v-for="item in items" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
        <div v-html="rawHtml" v-bind:id="customId"></div>
        <div>{{ count + 1 }}</div>
        <div>{{ ok ? "YES" : "NO" }}</div>
        <div>{{ message.split("").reverse().join("") }}</div>
        <div v-bind:id="'list-' + customId"></div>
        <div v-bind:[attributeName]="url">绑定属性</div>
        <div v-on:[eventName]="doSomething">绑定事件</div>
        <a :href="url">属性简写</a>
        <a :[attributeName]="url">属性简写</a>
        <div @click="reverseMessage">事件简写</div>
        <div @[eventName]="reverseMessage">事件简写</div>
        <div>{{ itemMessage }}</div>
        <div>{{ firstName + ' and ' + lastName }}</div>
        <!-- 侦听器 -->
        <p>
            Ask a yes/no question:
            <input type="text" v-model="question">
        </p>
        <p>{{ answer }}</p>
        <!-- Class与Style -->
        <div class="static" :class="classObject">Class</div>
        <div :class="[{active: isActive}, errorClass]">Class2</div>
        <my-component class="baz boo" :class="{ active: isActive }"></my-component>
        <div :style="styleObject">style</div>
        <div :style="[baseStyles, overStyles]">style1</div>
        <div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">box</div>
        <!-- 条件渲染 -->
        <div v-if="some">some!</div>
        <div v-else>no</div>
        <template v-if="some">
            <h1>title</h1>
            <p>one</p>
        </template>
        <!-- <div v-if="Math.random() > 0.5">Now you see me</div>
        <div v-else>Now you don't</div> -->
        <div v-if="type === 'A'">A</div>
        <div v-else-if="type === 'B'">B</div>
        <div v-else>Not A/B</div>
        <div v-show="!some">Hello!</div>
        <!-- 列表渲染 -->
        <ul>
            <li v-for="(item, index) in items">
                {{ parentMessage + '-' + index + '-' + item.name}}
            </li>
        </ul>
        <ul>
            <li v-for="(value, name, index) in myObject">{{index + '.' + name + ':' + value }}</li>
        </ul>
        <my-component2 v-for="(item, index) in items" :key="item.id" :name="item.name" @remove="items.splice(index, 1)"></my-component2>
        <!-- 事件处理 -->
        <div :style="style1" @scroll.passive="onScroll">
            <div :style="style2"></div>
        </div>
        <input type="text" @click.left="eventUp($event)">
        <!-- 表单输入绑定 -->
        <input type="text" v-model.trim="textMessage">
        <p>{{ textMessage }}</p>
        <textarea v-model="textareaMessage" cols="30" rows="5"></textarea>
        <p>{{ textareaMessage }}</p>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <br>
        <div>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>{{ checkedNames }}</span>
        </div>
        <div>
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>{{ picked }}</span>
        </div>
        <div>
            <select v-model="selected">
                <option disabled value="">Please select one</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <p>{{ selected }}</p>
        </div>
        <div>
            <select v-model="selected2">
                <option v-for="option in options" :value="option.value">{{ option.text }}</option>
            </select>
            <p>{{ selected2 }}</p>
        </div>
        <!-- 组件实例 -->
        <button-count></button-count>
        <button-count></button-count>
        <button-count></button-count>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post 
                v-for="post in posts" 
                :key="post.id" 
                :title="post.title"
                @enlarge-text="onEnlargeText"
            ></blog-post>
        </div>
        <!-- <custom-input :model-value="searchText" @update:model-value="searchText = $event"></custom-input> -->
        <custom-input v-model="searchText"></custom-input>
        <custom-input2 v-model="searchText2"></custom-input2>
        <alert-box>error message</alert-box>
        <!-- 动态组件 -->
        <div>
            <button v-for="tab in tabs" :key="tab" @click="currentTab = tab">{{ tab }}</button>
            <component :is="currentTabComponent"></component>
        </div>
    </div>
</body>
</html>